
#wrapper{
    width: 400px;
    margin: auto 0;
}
header{
    background-color: #141f40;
    height: 100px;
}

#right{
    width:  250px;
    background-color: #8c2727;
    float: right;
    height: 250px;
}
#left{
    width: 150px;
    background-color:  #80bfa8;
    float: left;
    height: 250px;
}
footer{
    height: 100px;
    background-color: #d98d30;
}
.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}