@media screen and (max-width: 767px){
    #wrapper{
        width: 300px;
}

    #left{
        width: 100px;
    }
    #center-upper{
        width: 125px;
    }
    #right-right{
        width: 75px;
    }
    #right{
        width: 200px;
    }
    #center-under{
        width: auto;
    }
}

    @media screen and (max-width: 479px){
    #wrapper{
        width: 150px;
    }
    #left, #center-upper, #right-right, #right{
        float: none;
        width: 150px;
    }
    #left, #right-right, #center-under{
        height: 100px;
    }
}